<strong>Olá {{ user_owner }}.</strong>
<p>
  {{ user_sub }} se inscreveu em um meetup que você organiza, segue os detalhes abaixo:
</p>
<p style='color:#383C3F;font-weight:regular;line-height:130%=;margin:0;margin-top:8px;'>
  <strong>Nome:</strong> {{ user_sub }}
</p>
<p style='color:#383C3F;font-weight:regular;line-height:130%=;margin:0;margin-top:8px;'>
  <strong>Email:</strong> {{ email_sub }}
</p>
<p style='color:#383C3F;font-weight:regular;line-height:130%=;margin:0;margin-top:8px;'>
  <strong>Local do evento:</strong> {{ locale_meetup }}
</p>
<p style='color:#383C3F;font-weight:regular;line-height:130%=;margin:0;margin-top:8px;'>
  <strong>Data:</strong> {{ date_meetup }}
</p>
